.detailContainer {
    margin: 0 auto;
    margin-top: 100px;
    width: 80%;
    background-color: rgba(238, 237, 237, 0.568);
    display: flex;
    padding: 90px 60px;
    justify-content: space-between;
    border-radius: 30px;
    font-family: 'Kosugi Maru', sans-serif;
}

.detailLeft {
    flex: 2;
    line-height: 2rem;
    padding-right: 10%;
}

.detailRight {
    flex: 1;
}

#name {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 30px;
}

.blue {
    background: -moz-linear-gradient(left, rgba(0, 217, 255, 1) 0%, rgba(17, 0, 255, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(0, 217, 255, 1) 0%, rgba(17, 0, 255, 1) 100%);
    background: linear-gradient(to right, rgba(0, 217, 255, 1) 0%, rgba(17, 0, 255, 1) 100%);
}

.red {
    background: -moz-linear-gradient(left, rgba(255, 153, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 153, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
    background: linear-gradient(to right, rgba(255, 153, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
}

.yellow {
    background: -moz-linear-gradient(left, rgba(250, 255, 222, 1) 0%, rgba(255, 255, 0, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(250, 255, 222, 1) 0%, rgba(255, 255, 0, 1) 100%);
    background: linear-gradient(to right, rgba(250, 255, 222, 1) 0%, rgba(255, 255, 0, 1) 100%);
}

.green {
    background: -moz-linear-gradient(left, rgba(38, 176, 7, 1) 0%, rgba(107, 250, 128, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(38, 176, 7, 1) 0%, rgba(107, 250, 128, 1) 100%);
    background: linear-gradient(to right, rgba(38, 176, 7, 1) 0%, rgba(107, 250, 128, 1) 100%);
}

.brown {
    background: -moz-linear-gradient(left, rgba(158, 158, 158, 1) 0%, rgba(82, 49, 0, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(158, 158, 158, 1) 0%, rgba(82, 49, 0, 1) 100%);
    background: linear-gradient(to right, rgba(158, 158, 158, 1) 0%, rgba(82, 49, 0, 1) 100%);
}

.grey {
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(87, 87, 87, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(87, 87, 87, 1) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(87, 87, 87, 1) 100%);
}

.default {
    background: -moz-linear-gradient(top, rgba(240, 249, 255, 1) 0%, rgba(203, 235, 255, 1) 47%, rgba(161, 219, 255, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(240, 249, 255, 1) 0%, rgba(203, 235, 255, 1) 47%, rgba(161, 219, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(240, 249, 255, 1) 0%, rgba(203, 235, 255, 1) 47%, rgba(161, 219, 255, 1) 100%);
}

@media (max-width: 720px) {
    .detailContainer {
        display: inline-block;
        padding: 60px 30px;
        text-align: center;
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .detailLeft .detailLeft {
        display: inline-block;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }
    .detailLeft {
        padding-bottom: 50px;
        padding-right: 0;
    }
    body {
        text-align: center;
    }
}